p{
    background-color: aqua;
    text-decoration: dotted;
    text-align: center;
    text-decoration-color: yellowgreen;
}

h1{
    text-align: center;
    text-decoration-color: aquamarine;
    font-style: inherit;
}

*{
    background-color:black;
    text-align: center;
    font-size: larger;

}